---
---

/*********************global**********************/
$color1: #004A55; // dark blue
$color2: #A7CE3A; // diff green
$color3: #F87D09; // orange
$color4: #DBE8E8; // light blue
$gray: #f2f3f3;

@import  "../_sass/reset";
@import  "../_sass/global";
@import  "../_sass/type";
@import  "../_sass/img_videos";
@import  "../_sass/posts";
@import "../_sass/home";

@import  "../_sass/inclusion_books";

/* Content overwrites */
.website-title {
  font-family: "din-2014", Verdana, sans-serif;
  font-weight: 600;
  font-size: 24px;
  text-align: center;
  display: block;
  background-image: none;
  text-decoration: none !important;
}

.subtitle {
  margin: 30px 0;
}
