img/*.gif filter=lfs diff=lfs merge=lfs -text
_uploads/*.jpg filter=lfs diff=lfs merge=lfs -text
_uploads/*.JPG filter=lfs diff=lfs merge=lfs -text
_uploads/*.gif filter=lfs diff=lfs merge=lfs -text
_uploads/*.GIF filter=lfs diff=lfs merge=lfs -text
img/*.jpg filter=lfs diff=lfs merge=lfs -text
img/*.JPG filter=lfs diff=lfs merge=lfs -text
img/*.GIF filter=lfs diff=lfs merge=lfs -text
_uploads/*.png filter=lfs diff=lfs merge=lfs -text
_uploads/*.PNG filter=lfs diff=lfs merge=lfs -text
img/*.png filter=lfs diff=lfs merge=lfs -text
img/*.PNG filter=lfs diff=lfs merge=lfs -text
