<div class="recent">
<h3> Recent </h3>
<div class="recent-posts">
{% for post in paginator.posts %}
{% assign minutes = post.content | number_of_words | divided_by: 180 %}
{% if minutes == 0 %}
  {% assign read-time = site.var_less_than_a_minute_read %}
{% else %}
  {% assign read-time = minutes | append: "&nbsp;" | append: site.var_min_read %}
{% endif %}
<article>
 <span class="meta">{{ post.date | date: site.date_format }}</span>
 <a href="{{ post.url | prepend: site.baseurl }}"><h2>{{ post.title }}</h2></a>
 <p>{{ post.content | truncatewords:30 | strip_html }}&nbsp;<a class="read-more" href="{{ post.url | prepend: site.baseurl }}"> {{ site.var_read }}  →</a>
 </p>
</article>
{% endfor %}
</div>
</div>
