section {
  display: block;
  flex: 1;
  .featured {
    padding-top: 3em;
  }
}

.recent h3,
h4,
h5,
h6 {
  font-size: 1.02em;
}

.recent h1 {
  font-size: 1.2em;
}

.clips-group,
.recent {
  display: block;
  flex: 1;

  article {
    margin-bottom: 40px;
  }
}
@media all and (min-width: 760px) {
  section {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;
    .featured {
      flex-basis: 66%;
      align-self: flex-end;
      h1 {
        font-size: 2em;
      }


    }
  }
  .clips-group,
  .recent {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    padding: 3em 0;
    flex-wrap: wrap;

    article {
      margin-bottom: 0;
      flex-basis: 30%;

      h3 {
        margin: 0;
        color: $color1;
      }

      p {
        font-size: 88%;
        hyphens: 5;
        margin: 0;
      }
    }
  }
}
@media screen and (min-width: 1080px) {
  .clips-group,
  .recent {
    padding: 6em 0;
  }
}


.about-me {
background: $color1;
padding: 1em 6%;

  p {
    color: $color2;
    margin-bottom: 1em;
  }

  a {
    color: white;
    border: 0;
  }

  img {
    max-width: 100%;
  }

  figure {
    width: 60%;
  }

  figcaption {
    font-size: 50%;
    margin-top: 15px;
    font-style: italic;
    color: white;
  }
}
@media all and (min-width: 760px) {
.about-me {
  background: $color1;
  padding: 3em 6%;
  overflow: hidden;

  .intro {
    float: left;
    width: 62%;
    margin-right: 8%;
  }

  p {
    margin-top: 0;
    font-size: 0.9em;
  }

  img {
    max-width: 100%;
  }

  figure {
    float: left;
    width: 30%;
  }

  figcaption {
    font-size: 50%;
    margin-top: 15px;
    font-style: italic;
  }
}
}
