---
layout: default
---

<section class="pages">
  <h1 class="greeting">Hi! I'm Sameera. A designer at thoughtbot, based in Austin, TX. </h1>
</section>

<section>
  <h2 class="recent-header">Recent Posts</h2>
  <div class="recent"> {% for post in site.posts limit: 3 %}
    <article> <span class="meta">{{ post.date | date: site.date_format }}</span> <a href="{{ post.url | prepend: site.baseurl }}"><h3>{{ post.title }}</h3></a>
      <p>{{ post.content | truncatewords:30 |
        strip_html }}&nbsp; <a class="read-more" href="{{ post.url | prepend:
site.baseurl }}">→</a> </p>
    </article> {% endfor %} </div>
</section>
<section class="hightlighted-section">
  <figure>
    <img class="featured-image" src="/uploads/cm-feature.png" alt="Sketch of me by Ami">
    <figcaption>Sketched by Ami</figcaption>
  </figure>

  <article class="featured">
    {% for post in site.posts %}{% if post.categories contains 'featured' %}
    <h2 class="recent-header">Featured post</h2>
    <span class="meta">{{ post.date | date: site.date_format }}</span>
    <a href="{{ post.url | prepend: site.baseurl }}"><h1>{{ post.title }}</h1></a>
    <p>{{ post.content | truncatewords:100 | strip_html }}&nbsp; <a
    class="read-more" href="{{ post.url | prepend: site.baseurl }}">→</a> </p>
  </article>
</section> {% endif %} {% endfor %}

<section class="clips">

  <h2 class="recent-header">Recently bookmarked</h2>
  <div class="recent">
  {% assign clips = site.clips | reverse %}
  {% for post in clips limit: 3 %}


  <article>
  <small>  {{ post.date | date: site.date_format }}</small>
  <h4><a href="{{ post.url | prepend: site.baseurl }}">{{ post.title | truncate:50 }}</a></h4>
  <p>{{ post.content | truncatewords:30 | strip_html }}</p>
  </article>
    {% endfor %}
  </div>
</section>
</main>
