---
layout: default
---

<section class="greeting">
  <img src="/img/samkap.jpg" alt="">
  <h1>Hi, I'm Sameera. I'm based in Austin where I'm a design director, inclusion advocate, writer, speaker, advisory board member, plant and food hobbyist, and former executive and educator.</h1>
</section>

<section class="recent">
  <div class="recent__column">
  <h2 class="recent__header">Recent Posts</h2>
  {% for post in site.posts limit: 3 %}
    <article> <span class="meta">{{ post.date | date: site.date_format }}</span> <a href="{{ post.url | prepend: site.baseurl }}"><h3>{{ post.title }}</h3></a>
      <p>{{ post.content | truncatewords:30 |
        strip_html }}&nbsp;
        <a class="read-more" href="{{ post.url | prepend: site.baseurl }}">→</a>
    </p>
    </article>
  {% endfor %}
  </div>
  <div>
    <h2 class="recent__header">Recently bookmarked</h2>
    {% assign clips = site.clips | reverse %}
    {% for post in clips limit: 5 %}
      <article>
      <span class="meta">{{ post.date | date: site.date_format }}</span>
      <h3><a href="{{ post.url | prepend: site.baseurl }}">{{ post.title | truncate:50 }}</a></h3>
      </article>
    {% endfor %}
    </div>
</section>

</main>
