---
layout: default
---

</main>
{% for post in site.posts %}{% if post.categories contains 'featured' %} <div
class="shell"> <div class="featured"> </div> <article> <span
class="meta">FEATURED POST : {{ post.date | date: site.date_format }}</span> <a
href="{{ post.url | prepend: site.baseurl }}"><h1>{{ post.title }}</h1></a>
<p>{{ post.content | truncatewords:100 | strip_html }}&nbsp; <a
class="read-more" href="{{ post.url | prepend: site.baseurl }}">→</a> </p>
</article> {% endif %} {% endfor %} </div>
<main>
	<div class="recent"> {% for post in
site.posts limit: 3 %} <article> <span class="meta">{{ post.date | date:
site.date_format }}</span> <a href="{{ post.url | prepend: site.baseurl
}}"><h3>{{ post.title }}</h3></a> <p>{{ post.content | truncatewords:30 |
strip_html }}&nbsp; <a class="read-more" href="{{ post.url | prepend:
site.baseurl }}">→</a> </p> </article> {% endfor %} </div> </main> <div
class="about-me"> <div class="intro"> {{ content }} </div>

<figure> <img src="../img/samkap.jpg" alt="Sam"> <figcaption>Photo by Wesley
Werhoeve, for <a href="http://www.oneofmany.co">One of Many</a></figcaption>
</figure>

</div>
