---
layout: default
---

<section class="pages">
{{content}}
<div class="listing-posts">
  {% for post in site.posts %}
  <article>
    <a href="{{ post.url | prepend: site.baseurl }}" class="post-container">
         <div class="cover-image-container">
           {% if post.cover-image %}
           <img alt="thumbnail for post" src="{{ post.cover-image }}">
           {% else %}
           <img alt="no thumbnail logo icon" src="/img/ampersam.svg" style="opacity: .5; width: 40px;">
           {% endif %}
         </div>
       <div class="post-container__text">
         <small>{{ post.date | date: site.date_format }}</small>
         <h2>{{ post.title }}</h2>
         <p>{{ post.content | truncatewords:30 | strip_html }}</p>
       </div>
     </a>
   </article>
   {% endfor %}
 </div>
</section>
