---
layout: default
comments: true
---

{% assign minutes = content | number_of_words | divided_by: 180 %} {% if minutes == 0 %} {% assign read-time = site.var_less_than_a_minute_read %} {% else %} {% assign read-time = minutes | append: "&nbsp;" | append: site.var_min_read %} {% endif %}

<article class="posts">
  <span class="meta">{{ page.date | date: site.date_format }} • {{ read-time }}min read</span>
  <h1>{{ page.title }}</h1>
  {{ content }}
  <br>
  <small><em>tags: {% for tag in page.tags %}
{{ tag | append: "&nbsp;" }}
{% endfor %}</em></small>
<br>
</article>


<div id="disqus_thread"></div>
